@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Lemon&display=swap');

.lemon-regular {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}

html{
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#first-box {
    background-image: url(/img/car.jpg);
    background-size: cover; 
    background-position: center; 
    height: 600px;
    padding: 0;
}

#first-box-text {
    margin: 0px;
    height: 600px;
    background-color: rgba(61, 59, 59,0.5);
    padding-left: 10%;
    padding-top: 10%;
    color: #fff;
}

#first-box-text h2{
   font-size: 3.5rem;
}

#first-box-text p{
    font-size: 1.0rem;
    margin-left: 5px;
}

#first-box-text a {
   padding: 5px 40px;
}

#second-box {
    margin: 0px;
    height: 100px;
}

.box-icon{
    font-size: 2.2rem;
}

#third-box {
    margin: 0px;
    margin-top: 100px;
    height: 300px;
}

.item-front{
    padding-top: 50px;
}

.btn-custom-one{
    background: #1a65ab;
    padding: 5px 50px;
    color: #fff; 
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-decoration-line:none;
}

.btn-custom-one:hover {
    background: #10416e;
}

#four-box {
    margin: 0px;
    margin-top: 100px;
    height: 500px;
    background: rgba(61, 59, 59,0.2);
}

.contact-us {
    margin-top: 15px;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    padding:10px;
}

.img-sponsors{
    width: 400px;
    height: 250px;
}

.login-box{
    height: 500px;
    width: 400px;
    padding: 15px;
}