

<div class="container-fluid" id="first-box">
    <div class="container-fluid lemon-regular" id="first-box-text">
        <h2>Car Detailing</h2>
        <p>
            Welcome to the car detailing website.<br /> We offer a large number of services and products
        </p>
        <a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Index" asp-area="" asp-controller="Products" asp-action="Index">Shop</a>
    </div>
</div>
<div class="container-fluid d-flex align-items-center justify-content-center" id="second-box">
    <div class="row container d-flex align-items-center justify-content-center">
         <div class="col-3">
            <div class="card text-center">
                <div class="card-header border">
                    <h3 class="lemon-regular"> Clients</h3>
                </div>
                <div class="card-body">
                    <h2 class="card-title lemon-regular"><i class="bi bi-people-fill"></i><br />35</h2>
                </div>
                <div class="card-footer border" style="height:85px;">
                    <br />
                    <a href="#scrollspyHeading1" class="btn-custom-one">Contact Us</a>
                </div>
            </div>
         </div>
        <div class="col-3">
            <div class="card text-center">
                <div class="card-header border">
                    <h3 class="lemon-regular">Solved cars</h3>
                </div>
                <div class="card-body">
                    <h2 class="card-title lemon-regular"><i class="bi bi-car-front"></i><br />150</h2>
                </div>
                <div class="card-footer border" style="height:85px">
                    <br />
                    <a href="#scrollspyHeading1" class="btn-custom-one" style="margin-top:5px;">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center">
                <div class="card-header border">
                    <h3 class="lemon-regular">Products</h3>
                </div>
                <div class="card-body">
                    <h2 class="card-title lemon-regular"><i class="bi bi-box-seam"></i><br />30</h2>
                </div>
                <div class="card-footer border" style="height:85px">
                    <br />
                    <a asp-area="" asp-controller="Products" asp-action="Index" asp-area="" asp-controller="Products" asp-action="Index" class="btn-custom-one" style="margin-top:5px;">Shop</a>
                </div>
            </div>
        </div>
     </div>
</div>
<div class="container-fluid" id="third-box">
    <div class="row">
        <h2 class="text-center lemon-regular" style="margin-top:15px;margin-bottom:15px;">Sponsors</h2>
        <div class="col">
            <img src="https://1000logos.net/wp-content/uploads/2016/10/Bosch-Logo-500x312.png" class="img-sponsors" alt="...">
        </div>
        <div class="col">
            <img src="https://1000logos.net/wp-content/uploads/2021/05/CAT-logo-500x300.png" class="img-sponsors" alt="...">
        </div>
        <div class="col">
            <img src="https://1000logos.net/wp-content/uploads/2021/05/LetyShops-logo-500x273.png" class="img-sponsors" alt="...">
        </div>
        <div class="col">
            <img src="https://1000logos.net/wp-content/uploads/2020/04/Carex-Logo-500x281.png" class="img-sponsors" alt="...">
        </div>
    </div>
</div>
<div class="container-fluid  d-flex justify-content-center" id="four-box">
    <div class="contact-us">
        <form>
            <h2 class="lemon-regular text-center mb-2" id="scrollspyHeading1">Contact us</h2>
            <div class="form-group mb-2">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group mb-2">
                <label for="exampleFormControlInput1">Title address</label>
                <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
            </div>
            <div class="form-group mb-2">
                <label for="exampleFormControlTextarea1">
                    Message
                </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
        </form>
    </div> 
</div>

